# Node modules
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
.expo/
.expo-shared/
*.swp

# Android
/android/build/
/android/app/build/
/android/.gradle/
/android/local.properties
**/captures/

# iOS
/ios/build/
/ios/Pods/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad

# Misc
.DS_Store
.idea/
*.iml
# Ignorar certificados sensibles en assets (ajusta según corresponda)
android/app/src/main/assets/
